body {
    background: black;
}

input {
    background-color: transparent;
    border: none;
    color: white;
    width: 1000px;
}

input:focus {
    outline: none;
}

input, div {
    color: white;
}

.target {
    color: #5e9955;
    user-select: none;
    /* font-size: 12px; */
}

.dst {
    display: inline-block;
    /* font-family: MicrosoftYaHei; */
    font-weight: 100;
}

.box {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.box .left, .box .right {
    width: 45%;
}

.box .left>div>ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.box .left {
    padding-top: 100px;
}

.box .left>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box .left>div>ul>li {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.show {
    display: none;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    padding-top: 100px;
}

.languages div {
    width: 225px;
}

.languages div span {
    float: right;
}

.help {
    display: none;
}

.help .command {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    padding-top: 100px;
}

.help .command div {
    width: 500px;
}

.help .command div span {
    float: right;
}